<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">1234</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Hope</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <mapping class="modelo.entidad.Cargo"/>
  <mapping class="modelo.entidad.Empresa"/>
  <mapping class="modelo.entidad.Historicotareaeventual"/>
  <mapping class="modelo.entidad.Historicotarearepetitiva"/>
  <mapping class="modelo.entidad.Solicitud"/>
  <mapping class="modelo.entidad.Tareaeventual"/>
  <mapping class="modelo.entidad.Tarearepetitiva"/>
  <mapping class="modelo.entidad.Tarearepetitivaaux"/>
  <mapping class="modelo.entidad.Usuario"/>
  <mapping class="modelo.entidad.UsuarioCargo"/>
  <mapping class="modelo.entidad.UsuarioCargoId"/>
  <mapping class="modelo.entidad.UsuarioEmpresa"/>
  <mapping class="modelo.entidad.UsuarioEmpresaId"/>
 </session-factory>
</hibernate-configuration>
